/* Fonts for both the main and secondary headers*/
@import url('https://fonts.googleapis.com/css?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');

/* Main header along with the rainbow color*/
header {
    font-family: "Oleo Script Swash Caps";
    font-size: 300%;
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Secondary header*/
h2 {
    font-family: "Gowun Dodum";
}

/* Layout for the body*/
body {
    text-align: center;
}

/* Layout for the recommended songs and artists */
ul {
    text-align: center;
    list-style-position: inside;
}

/* Layout for the table in the center*/
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
  }

/* Layout for the list elements in the table */
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

/* Determines both the placement of the zebra stripes in the table
and the background color for the stripes */
tr:nth-child(even) {
    background-color: #f2f2f2;

}